<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    </head>
<body>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0"><ya-tr-span data-index="0-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Cover" data-translation="Главная страница" data-type="trSpan">Главная страница</ya-tr-span></h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="/"><ya-tr-span data-index="1-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-type="trSpan">Главная</ya-tr-span></a>
                        <a class="nav-link" href="/add"><ya-tr-span data-index="1-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Features" data-translation="Добавить пациента" data-type="trSpan">Добавить пациента</ya-tr-span></a>
                        <a class="nav-link" href="/search"><ya-tr-span data-index="1-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Contact" data-translation="Поиск пациента" data-type="trSpan">Поиск пациента</ya-tr-span></a>
                        <a class="nav-link" href="/registration"><ya-tr-span data-index="1-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Contact" data-translation="Регистрация диагноза" data-type="trSpan">Регистрация диагноза</ya-tr-span></a>
                    </nav>
                </div>
            </header>
        </div>
    </body>
</body>
</html>